:root {
    --color-principal: rgb(0, 75, 141);
    --color-secundaria: #F7941E;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: "nunito";
    src: url(../font/Nunito-VariableFont_wght.ttf);
}

body {
   
    margin: 0;
    padding: 0;
}


/* ======================================== */
/* Primeira Página */
.pagina_inicial {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 130vh;
}

.cabecalho_2 {
    height: 50px;
    width: 100%;
    background-color: #082036;

    display: flex;
    justify-content: center;

    align-items: center;
}

.cabecalho {
    height: 50px;
    width: 150vw;
    background-color: #082036;

    display: flex;
    justify-content: center;

    align-items: center;
}

.paginas_header {
    list-style: none;

    display: flex;

    padding: 0;
    margin: 0;
}

.itens_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}



.botoes_header {
    text-decoration: none;
    color: #ffffff;

    font-size: 18px;
    font-family: "nunito";
    margin-left: 30px;
}

.botoes_header:hover {
    color: #F7941E;
}

.botoes_header_2 {
    text-decoration: none;
    color: #ffffff;

    font-size: 18px;
    font-family: "nunito";
    margin-left: 30px;
}

.botoes_header_2:hover {
    color: var(--color-principal);
}

.icone_de_login {
    font-size: 40px;
    color: #ffff;

    margin-right: 30px;
}

.icone_de_login_2 {
    font-size: 40px;
    color: #ffff;

    margin-right: 30px;
}

.icone_sair {
    font-size: 40px;
    color: #ffff;

    margin-right: 30px;
}

.icone_sair:hover {
    transition: 0.2s;
    color: #F7941E;
}

.container_imagen {
    height: 500px;
    width: 600px;

    margin-top: 50px;
    background-image: url(../img/logo_senac.png);
    background-size: cover;
    background-position: top;
}

.container_itens_pag_inicial {
    margin-top: 0;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.container_itens_pag_inicial>h1 {
    font-family: "nunito";
    font-size: 48px;
    font-weight: 800;
    color: var(--color-principal);
}

.container_itens_pag_inicial>h3 {
    font-family: "nunito";
    font-size: 48px;
    font-weight: 800;
    color: rgba(0, 75, 141, 0.43);
}

/* ======================================== */

/* Página Pesagem */
.pagina_de_pesagem {
    height: 100vh;
}

.lista_peso{
    background-color: #F7941E !important;
    color: white !important;
}

/* espacamento do input */
.espacamento_input {
    padding-top: 50px;
    justify-content: center;
    gap: 40px;
}

/* Formatação dos input com lista */
#nome {
    font-family: "nunito";
    border: 1px solid rgba(34, 36, 38, .15);

    height: 50px;
    width: 100%;
    border-radius: 5px;

    background-color: #fff;
    color: black;
}

/* Formatação dos itens dentro do input com lista */
#nome::placeholder {
    color: black;
    font-family: "nunito";
}

/* lista do input peso, alinha os itens ao centro da div */
.ui.labeled.input>.label:not(.corner){
    display: flex;
    align-items: center;
}

input:focus{
    box-shadow:  0 0 0 0;
    outline: 0;

    scale: 1.02;
}
/* Campo onde tem todo os itens do historico rápido na pagina de pesagem */
.historico_pagina_pesagem {
    margin-top: 30px;
    color: white;

    height: 100vh;

    text-align: center;

    border-radius: 15px;
    margin-left: 100px;
}

.ui.buttons .botoes {
    color: white !important;
    background-color: #072f54f3 !important;
}

.ui.buttons .botoes:hover{
    color: #072f54f3 !important;
    background-color: white !important;
    border: 2px solid #072f54f3 !important;
}

/* Tabela da pagina pesagem, o quanto ela usa de espaço */
.tabela_historico_rapido {
    max-height: 400px;
}

/* Itens das tabelas */
/* Local dos Titulos */
.ui.table thead th {
    background-color: var(--color-secundaria) !important;
    color: white !important;

    font-family: "nunito";
    font-size: 18px;
}

/* Itens dentro da tabela */
.itens_tabela {
    color: #072f54f3 !important;
    background-color: #f2f2f2 !important;

    font-family: "nunito";
    font-size: 16px;
}

.itens_tabela_segundo{
    font-size: 16px;
    font-family: "nunito";
    color: white !important;
    background-color: #faa53e !important;

    font-family: "nunito";
}


/* formatação dos textos de identificacao dos inputs */
label {
    color: black;
    font-family: "nunito";
}

/* Formatação dos nomes dentro do input dos funcionarios  */
select {
    appearance: none;
    background-color: #f2f2f2;
    border: 1px solid black;
    padding: 8px;
    border-radius: 5px;
    color: black;
    width: 200px;
}


/* Formatação do botao de enviar na pagina de pesagem */
.botao_enviar {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    height: 50px;
    width: 150px;
    background-color: var(--color-secundaria) !important;
    color: #f2f2f2 !important;
    transition: 0.3s !important;
}

/* Hover para quando o mouse passar por cima do botao enviar da pagina de pesagem */
.botao_enviar:hover {
    transition: 0.3s;
    background-color: #072F54 !important;
    scale: 1.02;
}

/* Espaço onde está o botao enviar, para coloca-lo ao fim */
.campo_botao_enviar {
    display: flex;
    justify-content: end;
}

/* Formatacao para o titulo da pagina de pesagem */
.titulo {
    color: #072F54;
}

/* Deixar todos os inputs n pagina de pesagem do mesmo tamanho */
.listas {
    width: 100% !important;
}

.corpo_tabel_diaria{
    max-height: 400px;
}

.texto_enviar{
    color: white;
}
.titulo {
    color: #072F54;
}
.texto_enviar:hover{
    color: white;
}
/* ======================================== */

/* Página  de Login */
.pag_de_login {
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.fundo_login {
    height: 450px;
    width: 600px;

    border-radius: 15px;

    background-color: var(--color-principal);
    box-shadow: 5px 3px 5px 3px rgba(0, 75, 141, 0.43);
    transition: 0.5s;
}

.fundo_login:hover {
    transition: 0.5s;
    scale: 1.03;
}

.fundo_login>h4 {
    color: white;
    font-family: "nunito";
    font-size: 20px;
    margin-top: 15px;
    text-align: center;
}

.fundo_login>h5 {
    padding: 10px 10px 10px 10px;
    color: white;
    font-family: "nunito";
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.titulo_login {
    color: #f2f2f2;
    font-size: 20px;
}

.email {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.senha {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
}

.email>div,
.senha>div {
    margin-top: 10px;
    width: 100%;
}

.icone_de_login_2:hover {
    color: var(--color-principal);
}

.icone_de_login:hover {
    color: var(--color-secundaria);
}

.campo_redefinir_senha {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.campo_redefinir_senha>.esqueceu_senha,.cadastrar {
    display: flex;
    justify-content: end;
}


.esqueceu_senha {
    color: white;
    font-size: 16px;
    gap: 5px;
}

.esqueceu_senha>a,
.cadastrar>a {
    text-decoration: none;
    color: var(--color-secundaria);
}

.esqueceu_senha>a:hover,
.cadastrar>a:hover {
    color: white;
    transition: 0.2s;
}

.cadastrar {
    color: white;
    font-size: 16px;
    gap: 5px;
}

.espacamento_enviar {
    width: 100%;

    display: flex;
    justify-content: center;
}

.botao_login {
    text-decoration: none;
    color: var(--color-secundaria);
    background-color: #f2f2f2;
    padding: 15px 70px 15px 70px;
    border: 1px solid #F7941E;
    border-radius: 10px;
    margin-top: 20px;

    transition: 0.2s;
}

.botao_login:hover {
    transition: 0.2s;
    color: #f2f2f2;
    background-color: var(--color-secundaria);
}

/* ======================================== */

/* Página Histórico */
.pag_historico {
    height: 110vh;
}

.agrupamento_historico {
    height: 100%;
    width: 100%;

    padding: 40px;
    margin: 0;

}

.local_historico {
    margin: 50px 20px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    gap: 30px;

    height: 85%;
    width: 95%;
}

.espacamento_historico {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.botoes_acesso_historico {
    height: 40px;
    width: 80%;
}

.botao_relatorio {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;

    height: 50px;
    width: 200px;
    background-color: #082036 !important;
    color: #f2f2f2 !important;
    transition: 0.3s !important;

    margin-top: 45px !important;
    margin-right: 25px !important;

}

.botao_relatorio:hover {
    transition: 0.3s;
    background-color: #F7941E !important;
    scale: 1.02;
}

.ui.buttons .botoes_2 {
    color: white !important;
    background-color: #072f54f3 !important;
}

.ui.buttons .botoes_2:hover {
    color: #072f54f3 !important;
    background-color: white !important;
    border: 2px solid #072f54f3 !important;


}

.ui.modal {
    background: rgba(0, 0, 0, 0.0) !important;
    border-radius: 15px !important;
}

.header_redefinicao, .header_cadastro {
    display: flex !important;
    justify-content: center !important;

    color: white !important;
    background-color: #072F54 !important;

    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;
}

.redefinicao_senha, .cadastro {
    background-color: #072F54 !important;
    color: white !important;

    padding-left: 100px !important;
}

.redefinicao_senha>h5, .cadastro>h5 {
    font-size: 20px;
}

.botoes_redefinir {
    background-color: #072F54 !important;

    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

#fechar_botao {
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-radius: 7px;
    border: 2px solid #fd0f04;

    color: white;
    background-color: #fd0f04;


    transition: 0.2s;
    cursor: pointer;
}

#fechar_botao:hover {
    background-color: #072F54;
    color: white;


    transition: 0.2s;
}

#salvar_senha {
    height: 30px;
    width: 100px;
    font-size: 18px;
    border-radius: 7px;
    border: 2px solid #F7941E;
    margin-left: 10px;

    color: white;
    background-color: #F7941E;

    transition: 0.2s;
    cursor: pointer;
}

#salvar_senha:hover {

    background-color: #072F54;
    color: white;


    transition: 0.2s;
}

.forms_redefinicao {
    width: 80%;
    height: 40px;
    border-radius: 7px;

    background-color: #f2f2f2;
    border: none;
    padding: 10px;
    padding-left: 20px;
}
/* ======================================== */
/* Responsividade das páginas */

@media screen and (max-width: 768px) {
    .container_imagen {
        width: 100%;
        background-position: left;

        height: 400px;
    }

    .espacamento_input {
        margin-left: 20px;
    }

    .cabecalho {
        width: 100vw;
    }

    .historico_pagina_pesagem>.botoes {
        margin-left: 50px;
        width: 100%;
    }

    .historico_pagina_pesagem {
        margin: 0;
        margin-left: 10px;
        margin-right: 20px;
        width: 95%;
    }

    .botao_enviar {
        margin-bottom: 50px !important;
    }

    .fundo_login {
        width: 400px;
        height: 500px;
    }

    .local_historico {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (min-width:769px) and (max-width: 1199px) {
    .container_imagen {
        width: 100%;
        background-position: left;
    }

    .historico_pagina_pesagem {

        margin-left: 50px;
        margin-right: 50px;
        width: 93%;
    }

    .local_historico {
        margin-left: 0;
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .container_imagen {
        width: 100%;
        background-position: left;
    }
}